.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tulisan {
  color: white;
}

.napbar {
  background-color: #008080;
}

.lyr {
  background-color: #008080;
  margin-left: 910px;
  margin-bottom: 45px;
}

.head {
  color: white;
  text-align: center;
  padding-top: 40px;
}

.jumbo {
  background-color: #1A2634
}
.head1 {
  text-align: center;
  padding-top: 50px;
}

.kartu {
  box-shadow: 3px 2px 1px grey;
  width: 90%;
  height: 100%;
}

.kol{
  margin-top: 35px;
}

.cntrl {

  color: #008080;
}

.tombol {
  width: 100%;
  background-color: #008080;
}

.gmbr {
  width: 100%;
  height: 100%;
}

.lgn {
  background-color: #E9ECEF;
}

.media {
  width: 90%;
  height: 60%;
}

.kol1 {
  margin-top: 50px;
}

.jarak {
  margin-right: 20px;
}

.icon {
  text-align: center;

}

.lgn1 {
  background-color: #E9ECEF;
  padding-top: 25px;
  padding-bottom: 25px;
}

